    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }


    .container
    {
        min-height : 100dvh;
        width : 100%;
        background: linear-gradient(135deg , #153677, #4e085f);
        padding: 10px;
    }

    .todo-app{
        width: 100%;
        max-width: 540px;
        background: #FFF;
        margin : 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
    }

    .todo-app h2{
        color: #002765;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .todo-app h2 img{
        width: 30px;
        margin-left: 10px;
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #edeef0;
        border-radius: 30px;
        padding-left: 1.25rem;
        margin-bottom: 1.5625rem;
        flex-wrap: wrap;
    }

    input{
        min-width: 8em;
        flex : 1;
        border : none;
        outline : none;
        background: transparent;
        padding : 0.625rem
    }


    button.addButton{
        border : none;
        outline : none;
        padding : 1rem 3.125rem;
        background: #ff5945;
        color: #FFF;
        font-size: 1rem;
        border-radius: 40px;    
    }

    ul li {
        list-style: none;
        font-size: 1.06rem;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
    }

    ul li::before{
        content: '';
        position: absolute;
        height: 1.75rem;
        width : 1.75rem;
        border-radius: 50%;
        background-image: url(images/unchecked.png);
        background-size: cover;
        background-position: center;
        top : 12px;
        left : 8px;
    } 

    ul li.checked {
        color: #555;
        text-decoration: line-through;
    }

    ul li.checked::before{
        background-image: url(images/checked.png);
    }

    ul li span.crossBtn{
        position: absolute;
        right: 40px;
        top : 5px;
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }

    ul li button.reorderBtn{
        position: absolute;
        right: 0;
        top : 5px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #FFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    ul li button.reorderBtn img{
        width: 30%;
        height: 30%;
        cursor: grab;
    }


    ul li span:hover{
        background-color: #edeef0;
    }

    ul li button.reorderBtn:hover{
        background-color: #edeef0;
    }

    ul li.dragging {
        opacity : 0.1;
    }